////////////////////////////////////////////////////////////////////////////////////////////////////////////
//FONTS/////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////

@font-face {
    font-family: 'Gill Light';
    src: url('../fonts/GillSanLig.ttf'); 
}
@font-face {
	font-family: 'Gill Bold';
	src: url('../fonts/GillSanBol.ttf'); 
}
@font-face {
	font-family: 'Futura Light';
	src: url('../fonts/Futura (Light).ttf'); 
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////VARIABLES///////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////

$img-path: '../imgs/';
$dark-green: #0AA600;
$light-green: #7AC143;

////////////////////////////////////////////////////////////////////////////////////////////////////////////
//MIXINS////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////

@mixin flex-wrapper {
	padding: 0;
	margin: 0;
	display: -webkit-box;
	display: flex;
	display: -webkit-flex;
	flex-wrap: nowrap;
	align-items: stretch;
	-ms-box-orient: horizontal;
}

@mixin center {
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
}

@mixin center-horizontal {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

@mixin center-vertical {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////
//STYLES////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////

html, body, header, main, .ng-scope {
	margin: 0 0 0 0;
	height: 100%;
	width: 100%;
	color: white;
}

h1, h2, h3, p, li, ul, ol {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.inner-container {
	@include center;
	background-color: $dark-green;
	width: 810px;
	height: 1110px;
}

.main {
	width: 100%;
	height: 100%;
	position: absolute;
	&__top-image {
		width: 100%;
		height: 470px;
		background-image: url($img-path + 'backgrounds/baby.jpg');
		background-size: 100%;
		background-repeat: no-repeat;
	}
	&__mid-image {
		background-image: url($img-path + 'backgrounds/flowers.png');
		position: absolute;
		top: 385px;
		height: 120px;
		width: 100%;
		background-size: 100%;
		background-repeat: no-repeat;
	}
	&__cursive-text {
		background-image: url($img-path + 'icons/Text.png');
		position: absolute;
		top: 515px;
		width: 370px;
		height: 300px;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
	&__info-text {
		font-family: 'Futura Light';
		position: absolute;
		font-size: 1.3em;
		top: 585px;
		left: 415px;
		width: 290px;
		height: 150px;
		h1 {
			margin: 0 0 10px 0;
		}
		b {
			font-family: 'Futura';
		}
	}
	&__instruction-text {
		@include center-horizontal;
		font-size: 0.95em;
		font-family: 'Futura Light';
		width: 90%;
		top: 830px;
	}
}

.header {
	z-index: 2;
	height: 265px;
	width: 100%;
	position: absolute;
	&__logo {
		@include center-vertical;
		position: absolute;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		&--colgate {
			width: 430px;
			height: 200px;
			background-image: url($img-path + 'logos/colgate.png');
		}
		&--plunket {
			right: 0;
			width: 300px;
			height: 85px;
			background-image: url($img-path + 'logos/plunket.png');
		}	
	}
}

.footer {
	position: absolute;
	top: 1040px;
	height: 50px;
	width: 100%;
	font-family: 'Futura Light';
	&__legal {
		font-size: 0.9em;
		line-height: 50px;
		display: inline-block;
		margin: 0 0 0 40px;
		span {
			cursor: pointer;
			margin: 0 30px 0 0;
		}
	}
	&__nzda-logo {
		@include center-vertical;
		position: absolute;
		background-image: url($img-path + '/logos/nzda.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		right: 20px;
		height: 100%;
		width: 100px;
	}
}

.comp {
	@include center-horizontal;
	top: 880px;
	width: 90%;
	height: 95px;
	::-webkit-input-placeholder {
		opacity: 0.7;
	   color: white;
	}
	:-moz-placeholder { /* Firefox 18- */
		opacity: 0.7;
	   color: white;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
		opacity: 0.7;
	   color: white;  
	}

	:-ms-input-placeholder {  
		opacity: 0.7;
	   color: white;  
	}
	&__form {
		height: 100%;
		width: 460px;
		float: right;
		input {
			font-size: 0.8em;
			color: white;
			outline: none;
			padding: 0 0 0 7px;
			box-sizing: border-box;
			background-color: $light-green;
			-webkit-appearance: none;
			border: none;
			border-radius: 4px;
			height: 40px;
		}
		input[type="text"] {
			width: calc(50% - 18px);
			margin: 0 5px 0 5px;
		}
		input[type="email"] {
			width: calc(100% - 20px);
			margin: 15px 5px 0 5px;
		}
	}
	&__upload {
		position: absolute;
		height: 100%;
		border-radius: 4px;
		width: 235px;
		background-color: $light-green;
		&:after {
			content: "";
			@include center;
			height: 50%;
			width: 1px;
			background-color: white;
		}
	}
	&__upload-button {
		width: 50%;
		height: 100%;
		float: left;
		background-image: url($img-path + 'icons/camera.png');
		background-position: center;
		background-size: 70%;
		background-repeat: no-repeat;
		cursor: pointer;
		&--photo {
			background-image: url($img-path + 'icons/camera.png');
		}
		&--video {
			background-image: url($img-path + 'icons/video.png');
		}
		&:hover {
			opacity: 0.6;
		}
	}
}








