@font-face {
  font-family: 'Open Sans Bold';
  src: url("../fonts/OpenSans-Bold.ttf"); }
@font-face {
  font-family: 'Open Sans Light';
  src: url("../fonts/OpenSans-Light.ttf"); }
html, body, header, main, .ng-scope {
  margin: 0 0 0 0;
  width: 100%;
  height: 1110px;
  color: white; }

h1, h2, h3, p, li, ul, ol {
  margin: 0 0 0 0;
  padding: 0 0 0 0; }

.inner-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -70px;
  background-color: #0AA600;
  width: 810px;
  height: 1200px;
  font-family: 'Open Sans Light'; }

.main {
  width: 100%;
  height: 100%;
  position: absolute; }
  .main__top-image {
    width: 100%;
    height: 470px;
    background-image: url("../imgs/backgrounds/baby.jpg");
    background-size: 100%;
    background-repeat: no-repeat; }
  .main__mid-image {
    background-image: url("../imgs/backgrounds/flowers.png");
    position: absolute;
    top: 385px;
    height: 120px;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat; }
  .main__cursive-text {
    background-image: url("../imgs/icons/Text.png");
    position: absolute;
    top: 515px;
    width: 370px;
    height: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }
  .main__info-text {
    position: absolute;
    font-size: 1.3em;
    top: 585px;
    left: 415px;
    width: 290px;
    height: 150px; }
    .main__info-text h1 {
      margin: 0 0 10px 0; }
    .main__info-text b {
      font-family: 'Open Sans Bold'; }
  .main__instruction-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.95em;
    width: 90%;
    top: 830px; }
    .main__instruction-text--after-submit {
      top: 840px; }
  .main__after-submit-image {
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 700px;
    left: 400px;
    background-image: url("../imgs/icons/prizes.png");
    background-size: contain; }

.header {
  z-index: 2;
  height: 265px;
  width: 100%;
  position: absolute; }
  .header__logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }
    .header__logo--colgate {
      top: 1095px;
      width: 430px;
      height: 135px;
      background-image: url("../imgs/logos/colgate.png"); }
    .header__logo--plunket {
      right: 0;
      width: 300px;
      height: 85px;
      background-image: url("../imgs/logos/plunket.png"); }

.footer {
  position: absolute;
  top: 1145px;
  height: 50px;
  width: 100%; }
  .footer__legal {
    font-size: 0.9em;
    line-height: 50px;
    display: inline-block;
    margin: 0 0 0 40px; }
    .footer__legal span {
      cursor: pointer;
      margin: 0 30px 0 0; }
  .footer__nzda-logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background-image: url("../imgs//logos/nzda.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    right: 20px;
    height: 100%;
    width: 100px; }

.comp {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 880px;
  width: 90%;
  height: 95px; }
  .comp ::-webkit-input-placeholder {
    opacity: 0.7;
    color: white; }
  .comp :-moz-placeholder {
    /* Firefox 18- */
    opacity: 0.7;
    color: white; }
  .comp ::-moz-placeholder {
    /* Firefox 19+ */
    opacity: 0.7;
    color: white; }
  .comp :-ms-input-placeholder {
    opacity: 0.7;
    color: white; }
  .comp__form {
    height: 100%;
    width: 460px;
    float: right; }
    .comp__form input {
      font-size: 0.8em;
      color: white;
      outline: none;
      padding: 0 0 0 7px;
      box-sizing: border-box;
      background-color: #7AC143;
      -webkit-appearance: none;
      border: none;
      border-radius: 4px;
      height: 40px; }
    .comp__form input[type="text"] {
      width: calc(50% - 18px);
      margin: 0 5px 0 5px; }
    .comp__form input[type="email"] {
      width: calc(100% - 20px);
      margin: 15px 5px 0 5px; }
  .comp__submit {
    float: left;
    position: absolute;
    background-color: white;
    color: #0AA600;
    text-align: center;
    line-height: 40px;
    width: calc(100% - 15px);
    height: 40px;
    border-radius: 4px;
    top: 110px;
    cursor: pointer;
    font-family: 'Open Sans Bold'; }
    .comp__submit:hover {
      opacity: 0.7; }
  .comp__upload {
    position: absolute;
    height: 100%;
    border-radius: 4px;
    width: 235px;
    background-color: #7AC143; }
    .comp__upload--after-submit {
      width: 350px; }
  .comp__upload-button {
    height: 100%;
    float: left;
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    cursor: pointer; }
    .comp__upload-button--photo {
      width: 50%;
      background-image: url("../imgs/icons/camera.png"); }
      .comp__upload-button--photo:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 50%;
        width: 1px;
        background-color: white; }
    .comp__upload-button--video {
      width: 50%;
      background-image: url("../imgs/icons/video.png"); }
    .comp__upload-button--twitter {
      width: 33.333%;
      background-image: url("../imgs/icons/twitter.png"); }
      .comp__upload-button--twitter:after {
        display: inline-block;
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        position: relative;
        left: 100%;
        height: 50%;
        width: 1px;
        background-color: white; }
    .comp__upload-button--facebook {
      width: 33.333%;
      background-image: url("../imgs/icons/facebook.png"); }
      .comp__upload-button--facebook:after {
        display: inline-block;
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        position: relative;
        left: 100%;
        height: 50%;
        width: 1px;
        background-color: white; }
    .comp__upload-button--email {
      width: 33.333%;
      background-image: url("../imgs/icons/email.png"); }
    .comp__upload-button:hover {
      opacity: 0.6; }

/*# sourceMappingURL=style.css.map */
