<div class="main">
		<div class="main__top-image"></div>	
		<div class="main__mid-image"></div>	
		<div class="main__cursive-text"></div>	
		<div class="main__info-text"></div>	
		<div class="main__instruction-text"></div>
		<!-- <form class="comp-form">
			<div class=""></div>
			<input type="text" placeholder="First name" ng-model="user.first-name">
			<input type="text" placeholder="Last name" ng-model="user.last-name">
			<input type="email" placeholder="Email address" ng-model="user.email">
		</form> -->
</div>